// Navigation Styles here
header {
  margin: 30px auto;
  .nav-wrapper {
    border-bottom: 2px dashed @navigation-border;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 30px auto;
  }
  
  nav {
    text-align: right;
    
    a {
      margin: 1.2rem;
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
    }
  }
  
  .header-blob {
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 2px dashed silver;

    h2 {
      margin-top: 20px;
    }

  }
}